$humble-black: #1d1e1c;
$font-family: "GeneraSansRegular", sans-serif;

.trusted {
   padding: 5.0625rem 0rem;
   @media (max-width: 61.9375rem) {
      padding: 3rem 0rem;
   }
   @media (max-width: 48.1875rem) {
      padding: 3rem 0rem;
   }
   &__content {
   }

   &__label {
      margin-bottom: 1.5625rem;
      text-align: center;
   }

   &__list {
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
   }

   &__item {
      img {
         filter: var(--header-logo-bg);
      }
   }
}

.item-image {
   fill: red;
}
