$humble-black: #1d1e1c;
$second-family: "NeueRegradeBold", sans-serif;
$humble-black-hover: #3a3a3a;

.seizeMoment {
	padding: 7rem 0rem;
	@media (max-width: 61.9375rem){
		padding: 3rem 0rem;
	}
	@media (max-width: 48.1875rem){
		padding: 4rem 0rem;
	}
	&__content {
		text-align: center;
	}

	&__title {
		font-size: 6rem !important;
		font-weight: 700;
		color: $humble-black;
		font-family: $second-family;
		margin-bottom: 1.5rem;
		line-height: 110%;
		@media (max-width: 61.9375rem){
			font-size: 3rem !important;
		}
		span {
			padding: 0rem 1.5rem;
			display: inline-flex;
			margin: 0 auto;
			img {
				width: 15rem;
				height: 6rem;
				margin: 0 auto;
				@media (max-width: 61.9375rem){
					width: 10rem;
					height: 3.625rem;
				}
				@media (max-width: 48.249rem){
					width: 7rem;
					height: 2.5rem;
				}
			}
		}
	}

	&__text {
		max-width: 40rem;
		margin: 0 auto;
		margin-bottom: 2rem;
	}

	&__button {
		display: inline-flex;
		background: var(--black-btn-bg-black);
		transition: all .3s;
		&:hover {
			background: var(--black-btn-hover-black);
		}
		span {
			color: var(--black-btn-text-white);
		}
	}
}
