$second-family: "NeueRegradeBold", sans-serif;
$humble-black: #1d1e1c;
$humble-black-hover: #3a3a3a;

.hero {
	padding: 7rem 0rem;
	@media (max-width: 991px){
		padding: 3rem 0rem;
	}
	@media (max-width: 771px){
		padding: 4rem 0rem;
	}
	&__content {
		display: grid;
		grid-template-columns: 38.75rem 1fr;
		column-gap: 2rem;
		@media (max-width: 991px){
			grid-template-columns: 26rem 1fr;
		}
		@media (max-width: 771px){
			grid-template-columns: auto;
			row-gap: 2rem;
		}
	}

	&__left {
		align-self: center;
		@media (max-width: 771px){
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		font-size: 6rem;
		font-weight: 700;
		font-family: $second-family;
		color: $humble-black;
		margin-bottom: 2rem;
		@media (max-width: 991px){
			font-size: 4rem;
			margin-bottom: 1.5rem;
		}
		@media (max-width: 771px){
			font-size: 3rem;
			margin-bottom: 1.5rem;
			text-align: center;
			line-height: 120%;
		}
		span {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				background: url("/images/hero/1.png") center / 21rem 8.125rem no-repeat;
				width: 21rem;
				height: 8.125rem;
				top: -1rem;
				left: 0rem;
				z-index: -1;
				@media (max-width: 991px){
					background: url("/images/hero/1.png") center / 14.5rem 5.6rem no-repeat;
					top: -2rem;
					left: -3.5rem;
				}
				@media (max-width: 771px){
					display: none;
				}
			}
		}
	}

	&__text {
		max-width: 30rem;
		margin-bottom: 3rem;
		@media (max-width: 991px){
			font-size: .75rem;
			margin-bottom: 2rem;
		}
		@media (max-width: 771px){
			margin-bottom: 2rem;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 2.5rem;
		}
	}

	&__button {
		color: #fff;
		background: $humble-black;
		transition: all .3s;
		@media (max-width: 771px){
			display: inline-flex;
			align-items: center;
		}
		&:hover {
			background: $humble-black-hover;
		}
	}

	&__right {
	}

	&__image {
		position: relative;
		max-width: 38.75rem;
		height: 40rem;
		@media (max-width: 991px){
			height: 30rem;
		}
		@media (max-width: 771px){
			height: 20rem;
			max-width: 21.875rem;
			margin: 0 auto;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 3rem;
			@media (max-width: 771px){
				border-radius: 1.5rem;
			}
		}
	}
}
